<!DOCTYPE html>
<html>
  <head>
    <title>CsvImporter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
      <div class="container-fluid">
        <%= link_to 'HOME', root_url, class:"navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Edit account', edit_user_registration_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, :method=> :get,
                  class:"nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>

    <script>
      $(document).ready(function () {
        $('#organice-columns').on('change', '.form-control', function () {
            // Get the selected options of all positions
            var allSelected = $(".form-control").map(function () {
                return $(this).val();
            }).get();

            // set all enabled
            $(".form-control option").removeAttr("disabled");

            // Disable selected options in other positions
            $(".form-control option:not(:selected):not([value=''])").each(function () {
                if ($.inArray($(this).val(), allSelected) != -1) {
                    $(this).attr('disabled', true);
                }
            });
        });
      });
    </script>
  </body>
</html>
